#The list of files for git to ignore
#Backup files from various editors
*.save
*~
*.layout

#IDE related files
.idea

#Build directories
*build*/

#Install directories
*install*/

#Documentation directories and files
html/
latex/
results/
pics/

#The data directory
data/

#Latex related files
*.aux
*.log
*.lot
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.lof
*.log
*.out
*.toc
*.pdf
*.ps
*.bcf
*.run.xml
*.bib