<?xml version="1.0" encoding="utf-8"?>
<!-- PUT COPYRIGHT INFO HERE -->

<!-- This is an example configuration file based on a real experiment.
     Copy this file and modify its content to setup your experiment. -KM

     I totally stole the tmplate of this from Krzysztof Miernik.
     Thanks,buddy! -SVP (see readme for more info)

     NOTE: The program only recognizes the information that is currently
     listed in the nodes (Author, Experiment, Decay, etc.), except where
     otherwise noted.
-->
<Configuration>
  <!-- your name, email and date -->
  <Author>
    <Name>S. V. Paulauskas</Name>
    <Email>stanpaulauskas@gmail.com</Email>
    <Date>November 2013</Date>
    <Updated>June 08 2014</Updated>
  </Author>

  <!-- Short description of the experiment here. -->
  <Description>
    LeRIBSS 2012 VANDLE experiment, 2 Clovers, 2 Beta scitilators,
    MTC, 48 small VANDLE modules

    This is setup for the 84Ga analysis.
  </Description>

  <!-- This has all the information about the decay of interest. -->
  <Decay>
    <!-- z of the parent -->
    <z value='31' error='0.0' unit=""/>
    <q value='13.690' error='0.5' unit="MeV"/>
    <sn value='5.243' error='0.004' unit="MeV"/>
    <qbn value='8.600' error='0.006' unit="MeV"/>
    <t12 value='0.085' error='0.010' unit="s"/>
    <gn>
      <area value="7208" error="0.0" unit="counts"/>
      <en value="0.2473" error="0.0005" unit="MeV"/>
      <abr value="0.086" error="0.008" unit="/100"/>
    </gn>
  </Decay>

 <!-- Information about the gammas of interest for the experiment -->
  <Gamma>
    <!-- Information about the normalization gamma NOT IMPLEMENTED YET -->
    <gn>
      <area value="7208" error="0.0" unit="counts"/>
      <en value="0.2473" error="0.0005" unit="MeV"/>
      <abr value="0.086" error="0.008" unit="/100"/>
    </gn>

    <g1> <!-- Gating gamma number 1 (not implemented yet)-->
    </g1>

    <g2> <!-- Gating gamma number 2 (not implemented yet)-->
    </g2>
  </Gamma>

  <!-- This is the place to put some of the general information
       about the experiment.
  -->
  <Experiment>
    <numBars value="9" error="0.0" unit=""/>
    <!-- This one is from Sergey's simulation -->
    <omegaPerBar value="0.0061" error="0.0" unit=""/>
    <!-- This one is from just a straight calculation -->
    <!-- <omegaPerBar value="4.727e-3" error="0.0" unit=""/> -->
    <denRes value="0.500" error="0.0" unit="MeV"/>
    <flightPath value="50.5" error="0.0" unit="cm"/>
  </Experiment>

  <!-- These are the input/output files. The program only
       recognizes the Input/Output nodes for reading. However,
       anything added under them will be read into the program.

       NOTE: Blank spaces are hazardous to your health..err analysis.
  -->
  <Files>
    <!-- These are the input files -->
    <Input>
      <!-- These are the experimental Data -->
      <gsTof>data/084ga/tof/084ga-ban4-lower/084ga-ban4-lower.dat</gsTof>
      <g1Tof>data/084ga/tof/084ga-mmfBan/084ga-mmfBan-247keV.dat</g1Tof>
      <g2Tof></g2Tof>
    </Input>

    <!-- The output file names (sometimes just the path) -->
    <Output>
      <!-- Files for the fitting -->
      <picDir>pics/tof/working/</picDir>
      <picGs>pics/tof/working/working.eps</picGs>
      <gsFit>results/tof/working/working.fit</gsFit>
      <g1Fit>results/tof/working/working-g1.fit</g1Fit>
      <g2Fit>results/tof/working/working-g2.fit</g2Fit>
      <!-- Files for the B(GT) -->
      <neutrons>results/vast/working/working.dat</neutrons>
      <cgm>results/vast/working/working.mgb</cgm>
      <density>results/vast/working/working.bgt</density>
      <sensitivity>results/vast/working/working.sens</sensitivity>
    </Output>
  </Files>

  <!-- This is the section where we hold all of the information about
       the simulation.
  -->
  <Simulation>
    <!-- These are the simulation data -->
    <inputBase>data/ilyushkin/8keVee-06-06-2014/</inputBase>
    <outputBase>results/sim/8keVee-06-06-2014/</outputBase>
    <energies>
      <e0  file="0069keV.txt" energy="69"/>
      <e1  file="0113keV.txt" energy="113"/>
      <e2  file="0152keV.txt" energy="152"/>
      <e3  file="0300keV.txt" energy="300"/>
      <e4  file="0400keV.txt" energy="400"/>
      <e5  file="0600keV.txt" energy="600"/>
      <e6  file="0800keV.txt" energy="800"/>
      <e7  file="1000keV.txt" energy="1000"/>
      <e8  file="1200keV.txt" energy="1200"/>
      <e9  file="1800keV.txt" energy="1800"/>
      <e10 file="2000keV.txt" energy="2000"/>
      <e11 file="3000keV.txt" energy="3000"/>
      <e12 file="4000keV.txt" energy="4000"/>
      <e13 file="5000keV.txt" energy="5000"/>
    </energies>
    <output>
      <!-- These guys will store all the histograms of the fits -->
      <sims>sims.root</sims>
      <conv>conv.root</conv>
      <!-- This one stores the results for the fits to the convolution -->
      <convData>convParms.dat</convData>
      <!-- This one stores the results from the un-convoluted fits -->
      <fitData>fitParms.dat</fitData>
    </output>

    <!-- The fitting range as measured from the peak position. Units are ns.-->
    <range>
      <low value="20"/>
      <high value="1480.0"/>
    </range>
  </Simulation>

  <!-- Some flags to control program flow. The program will
       recgonize any flags that are added here.
  -->
  <Flags>
    <doFit value="true"/>
    <basic value="true"/>
    <theory value="false"/>
    <density value="false"/>
  </Flags>

  <!-- How about some fitting information? -->
  <Fitting>
    <!-- the peaks to use in the fitting of the tof -->
    <peaks>
      <!-- peaks for the singles fitting -->
      <sngl>
        <pk0  value="20."/>
        <pk1  value="30.0"/>
        <pk2  value="31.0"/>
        <pk3  value="35.0"/>
        <pk4  value="42.0"/>
        <pk5  value="50.181"/>
        <pk6  value="55.00"/>
        <pk7  value="70.151"/>
      </sngl>

      <!-- The peaks for gamma 1 gated spectrum -->
      <g1>
        <pk0 value ="15.0"/>
        <pk1 value ="25.0"/>
        <pk2 value ="50.0"/>
      </g1>
    </peaks>

    <!-- The Peak List to Use in the fit
         recognizes : sngl,g1,g2
    -->
    <pkList value="sngl"/>

    <!-- The fitting range -->
    <range>
      <low value="0.0"/>
      <high value="200.0"/>
    </range>

    <!-- The Binning for the picture -->
    <binning value="0.5" />

    <!-- How much can the peaks move -->
    <wiggle value="200." />

    <!-- Parameterization for the fitted parameters (not quite implemented)-->
    <alpha>
      <aI value="0.0130289072593045"/>
      <aH value="-0.641803483244778"/>
    </alpha>

    <sigma>
      <sM value="-0.000121210451962825"/>
      <sN value="0.0416568757021418"/>
      <sO value="0.550158923590531"/>
    </sigma>

    <n>
      <nJ value="2.21591018795502e-06"/>
      <nK value="0.00189178692442985"/>
      <nL value="1.33190840921066"/>
    </n>
  </Fitting>
</Configuration>
