<?xml version="1.0" encoding="utf-8"?>
<!-- PUT COPYRIGHT INFO HERE -->

<!-- This is an example configuration file based on a real experiment.
     Copy this file and modify its content to setup your experiment. -KM

     I totally stole the tmplate of this from Krzysztof Miernik. 
     Thanks,buddy! -SVP (see readme for more info)

     NOTE: The program only recognizes the information that is currently 
     listed in the nodes (Author, Experiment, Decay, etc.), except where 
     otherwise noted.
-->

<Configuration>   
  <!-- your name, email and date -->
  <Author>
    <Name>S. V. Paulauskas</Name>
    <Email>stanpaulauskas@gmail.com</Email>
    <Date>November 2013</Date>
  </Author>
  
  <!-- Short description of the experiment here. -->
  <Description>
    LeRIBSS 2012 VANDLE experiment, 2 Clovers, 2 Beta scitilators, 
    MTC, 48 small VANDLE modules
  </Description>
  
  <!-- This is the place to put some of the general information 
       about the experiment. 
  -->
  <Experiment>
    <numBars value="9" error="0.0" unit=""/>
    <!-- This one is from Sergey's simulation -->
    <omegaPerBar value="0.0061" error="0.0" unit=""/>
    <!-- This one is from just a straight calculation -->
    <!-- <omegaPerBar value="4.727e-3" error="0.0" unit=""/> -->
    <betaEff value="0.23" error="0.03" unit="/100"/>
    <numClovers value="2" error="0.0" unit=""/>
  </Experiment>
  
  <!-- These are the input/output files. The program only
       recognizes the Input/Output nodes for reading. However, 
       anything added under them will be read into the program.
  -->
  <Files>
    <!-- These are the input files -->
    <Input>
      <gsTof>data/tof/077cu-ban4-lower/077cu-ban4-lower.dat</gsTof>
      <g1Tof>data/tof/077cu-ban4-lower/077cu-ban4-lower02Plus.dat</g1Tof>
      <g2Tof>data/tof/077cu-ban4-lower/077cu-ban4-lower04Plus.dat</g2Tof>
    </Input>
    
    <!-- The output file names (sometimes just the path) -->
    <Output>
      <!-- Files for the fitting -->
      <picFit> pics/tof/working/</picFit>
      <gsFit> results/tof/working/working.fit</gsFit>
      <g1Fit> results/tof/working/working-g1.fit</g1Fit>
      <g2Fit> results/tof/working/working-g2.fit</g2Fit>
      <!-- Files for the B(GT) -->
      <neutrons>results/vast/working/working.dat</neutrons>
      <cgm>results/vast/working/working.mgb</cgm>
      <density>results/vast/working/working.bgt</density>
      <sensitivity>results/vast/working/working.sens</sensitivity>
    </Output>
  </Files>
  
  <!-- This has all the information about the decay of interest. -->
  <Decay>
    <!-- Some of the basic information -->
    <z value='29' error='0.0' unit=""/>
    <q value='10.490' error='0.5' unit="MeV"/>
    <sn value='4.5575' error='0.00025' unit="MeV"/>
    <qbn value='5.720' error='0.015' unit="MeV"/>
    <t12 value='0.4679' error='0.00021' unit="s"/>
    
    <gn> <!-- Information about the normalization gamma -->
      <area value="351222" error="14751" unit="counts"/>
      <!-- This will get changed to energy soon -->
      <eff value="0.0668422" error="0.003" unit="/100"/>
      <abr value="0.191" error="0.006" unit="/100"/>
    </gn>
    
    <g1> <!-- Gating gamma number 1 (not implemented yet)-->
    </g1>
    
    <g2> <!-- Gating gamma number 2 (not implemented yet)-->
    </g2>

    <zd> </zd>
  </Decay>
  
  <!-- Some handy flags to control program flow and work. The program will 
       recgonize any flags that are added here. 
  -->
  <Flags>
    <doFit value="true"/>
    <outputBasic value="true"/>
    <outputTheory value="true"/>
    <outputDensity value="true"/>
  </Flags>
  
  <!-- How about some fitting information? -->
  <Fitting>
    <!-- the peaks to use in the fitting of the tof -->
    <peaks>
      <!-- peaks for the singles fitting -->
      <sngl>
        <pk0  value="24.0"/>
        <pk1  value="30.0"/>
        <pk2  value="38.128"/>
        <pk3  value="40.0"/>
        <pk4  value="44.917"/>
        <pk5  value="50.181"/>
        <pk6  value="56.835"/>
        <pk7  value="65.151"/>
        <pk8  value="70.826"/>
        <pk9  value="80.0"/>
        <pk10 value="87.198"/>
        <pk11 value="94.690"/>
        <pk12 value="100.0"/>
        <pk13 value="104.69"/>
        <pk14 value="110.0"/>
        <pk15 value="115.0"/>
        <pk16 value="135.0"/>
      </sngl>

      <!-- The peaks for gamma 1 gated spectrum (not implemented yet)-->
      <g1>
      </g1>

      <!-- peaks for gamma 2 gated spectrum (not implemented yet) -->
      <g2>
      </g2>
    </peaks>
    
    <range>
      <low value="0.0"/>
      <high value="200.0"/>
    </range>

    
  </Fitting>
</Configuration>
